body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}

h3 {
    color: #333;
    font-weight: 600;
}

.card-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

label.form-label {
    font-weight: bold;
}

input.form-control, textarea.form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    padding: 10px;
    transition: border-color 0.3s;
}

.is-invalid {
    border-color: #dc3545;
}

.d-flex {
    display: flex;
    align-items: flex-start;
}

.gap-3 {
    gap: 1rem;
}

.btn-secondary{
    color: #fefefe;
    background-color: #ffc23b;
    border: none;
}

.btn-secondary:hover{
    color: #fefefe;
    background-color: #E6A02E;
    border: none;
}

.btn-danger{
    color: #fefefe; 
    background-color: #ff7254;
    text-decoration: none;
    border: none;
}

.btn-danger:hover{
    color: #fefefe;
    background-color: #CC5C44;
    text-decoration: none;
    border: none;
}


.btn-primary-submit {
    color: #fefefe;
    background-color: #086942;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary-submit:hover {
    color: #fefefe;
    background-color: #065533;
    transform: scale(1.02);
}

.btn-outline-success{
    color: #fefefe;
    background-color: #73d4eb;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-outline-success:hover{
    color: #fefefe;
    background-color: #58b9d0;
    border: none;
    transform: scale(1.02);
}

/* 
textarea,
input {
    height: calc(2.5em + 0.75rem + 2px); 
    resize: none;
} */